{% extends "base.html" %}
{% load staticfiles %}

{% block script %}

<script src="{% static 'js/angular.js' %}"></script>
<script src="{% static 'js/angular-route.js' %}"></script>
<!-- 공통 상수 등이 정의된 js -->
<script src="{% static 'home/js/common.js' %}"></script>
<!--AngularJs 라우터 -->
<script src="{% static 'home/js/router.js' %}"></script>
<!--라우터에서 사용되는 controller -->
<script src="{% static 'home/js/controller.js' %}"></script>
<!-- factory 모음 -->
<script src="{% static 'home/js/factories.js' %}"></script>
<link href="{% static 'home/css/common.css' %}" rel="stylesheet">
{% endblock %}
{% block subtitle %}

{% endblock %}
{% block body %}
<!-- template 가 들어가는 위치-->
<ng-view></ng-view>
{% endblock %}

