<div class="list-group">
	<!-- 개인 알림 -->
	<div class="panel panel-default">
		<div class="panel-heading">Battle.net</div>
		<div class="panel-body" style="padding:0px !important">
			<ul class="nav nav-pills" role="tablist" style="float:right !important">
			  <li role="presentation" class="{$ play.cnt >0 && 'active' || '' $}">
			  	<a href="#/">Play 
				  	<span class="badge">
				  		{$ play.cnt >0 && play.cnt || 0 $}
				  	</span>
			  	</a>
			  </li>
			  <li role="presentation" class="{$ message.cnt >0 && 'active' || '' $}">
			  	<a href="#/message">Messages
				  	<span class="badge">
				  	{$ play.cnt >0 && message.cnt || 0 $}
				  	</span>
			  	</a>
			  </li>
			</ul>
			<p style="padding-left:15px; padding-top:13px;">
			메세지함
			</p>
		</div>
	</div>
	<!-- 도전 메세지 -->
	<div class="panel panel-default" style="position: relative;" data-spy="scroll">
		<button type="button" class="btn btn-default lg message_button">
			<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
		</button>
		<button type="button" class="btn btn-default lg message_button" data-toggle="modal" data-target="#sendMsgModal" ng-click="setModalMsg(null,'chn');" >
			<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
		</button>
		<div class="panel-heading">도전 메세지</div>
		<div class="panel-body scroll">
		<ul class="list-group">
	    	 <a class="list-group-item" ng-repeat="message in messages | filter:challenge track by $index" data-toggle="modal" data-target="#messagDetail" ng-click="setModalMsg(message,'chn');">
	    	 {$ message.content$}
	    	 </a>
		    <li ng-show ="messages.length < 1">
		    	메세지가 존재하지 않습니다
		    </li>
	  	</ul>
		</div>
	</div>

	<div class="panel panel-default" style="position: relative;" data-spy="scroll">
		<button type="button" class="btn btn-default lg message_button">
			<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
		</button>
		<button type="button" class="btn btn-default lg message_button" data-toggle="modal" data-target="#sendMsgModal" ng-click="setModalMsg(null,'nor');">
			<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
		</button>
		<div class="panel-heading">일반 메세지</div>
		<div class="panel-body scroll">
		<ul class="list-group">
	    	 <a class="list-group-item" ng-repeat="message in messages | filter:normal track by $index" data-toggle="modal" data-target="#messagDetail" ng-click="setModalMsg(message,'nor');">
	    	 {$ message.content $} 
	    	 </a>
		    <li ng-show ="messages.length < 1">
		    	메세지가 존재하지 않습니다
		    </li>
	  	</ul>
		</div>
	</div>
</div>

<!-- 메세지 읽기 Modal -->
<div class="modal fade" id="messagDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">수신 메세지</h4>
      </div>
      <div class="modal-body">
      	<div class="form-group">
            <label for="recipient-name" class="control-label">From : </label>
            {$ modalMsg.send $}
          </div>
    	   {$ modalMsg.content $}
      </div>
      <div class="modal-footer">
      	<button type="button" class="btn btn-primary" data-dismiss="modal" ng-if="modalType=='chn'">동의</button>
      	<button type="button" class="btn btn-default" data-dismiss="modal" ng-if="modalType=='chn'">거절</button>
  		<button type="button" class="btn btn-primary" data-dismiss="modal" ng-if="modalType=='nor'">답장</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
      </div>
    </div>
  </div>
</div>
<!-- 메세지 읽기 Modal 끝 -->


<!-- 메세지 작성 Modal-->
<div class="modal fade" id="sendMsgModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">새 메세지 작성</h4>
      </div>
      <div class="modal-body">
        <form id="msgForm">
          <div class="form-group">
            <label for="recipient-name" class="control-label">수신자:</label>
            <input type="text" class="form-control" id="recipient-name" name="rcv">
          </div>
          <div class="form-group">
            <label for="message-text" class="control-label">내용:</label>
            <textarea class="form-control" id="message-text" name="content"></textarea>
          </div>
          <input type="hidden" value="N" name="read_msg_yn" />
          <input type="hidden" value="{$ modalType $}"name="msg_type" />
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="test">보내기</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
      </div>
    </div>
  </div>
</div>
<!-- 메세지 작성 Modal 끝 -->
